<p id="notice"><%= notice %></p>

<p>
  <b>Asin:</b>
  <%= @item.asin %>
</p>

<p>
  <b>Title:</b>
  <a href='http://www.amazon.com/gp/product/<%= @item.asin %>'><%= @item.title %></a>
</p>

<h2>Price Records</h2>
<% @item.price_records.each do |price_record| %>
  <p>
    <b>Amount:</b>
    <%= price_record.amount %>
  </p>
 
  <p>
    <b>Time Recorded:</b>
    <%= price_record.created_at %>
  </p>
<% end %>

<h2>Record Price</h2>
<%= form_for([@item, @item.price_records.build]) do |f| %>
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', items_path %>
